{% extends 'base.html.twig' %}

{% block body %}

   bienvenue sur la page caca
    <a href="/">retour</a>
    <input type="text" class="form-control">
{% endblock %}


{% block stylesheets %}
    <style>


        a {
            color:red;
        }
    </style>
{% endblock %}