{% extends 'base.html.twig' %}

{% block body %}

    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

    <div class="container">
        <div class="row">
            <div class="receipt-main col-xs-10 col-sm-10 col-md-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-3">

                <div class="row">
                    <div class="receipt-header">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="receipt-right">
                                <h3>Nom : {{ intervenant }}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="receipt-header">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="receipt-left">
                                <h3> Nombre de jeton </h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Nom de groupe</th>
                            <th>Nom du sujet</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="col-md-9" href="#" data-toggle="modal" data-target="#Repondre">Groupe 1</td>
                            <td class="col-md-9" href="#" data-toggle="modal" data-target="#Repondre">Problème BDD</td>
                        </tr>
                        <tr>
                            <td class="col-md-9" href="#" data-toggle="modal" data-target="#Repondre">Groupe 2</td>
                            <td class="col-md-9" href="#" data-toggle="modal" data-target="#Repondre">Problème designe</td>
                        </tr>
                        <tr>
                            <td class="col-md-9" href="#" data-toggle="modal" data-target="#Repondre">Groupe 3</td>
                            <td class="col-md-9" href="#" data-toggle="modal" data-target="#Repondre">Problème 1</td>
                        </tr>
                        </tbody>
                    </table>

                    <div>
                        <a type="button" class="btn btn-danger pull-right" href="{{ path('deconnexion') }}">Déconnexion</a>
                    </div>

                    <!-- Repondre-->
                    <div class="modal fade" id="Repondre" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content test-container" id="mail-container">
                                <form class="form-horizontal" id="formContact" action="mail_handler.php" method="post" name="form">
                                    <div class="test-container2">
                                        <div class="modal-header">
                                            <h2 class="text-mail text-center" id="headtext"> Répondre Au groupe</h2>
                                            <h4 class="text-left"> Nom groupe</h4>
                                            <h4 class="text-left"> Nom du sujet</h4>
                                            <h4 class="alert alert-success text-center"> Message envoyer par le groupe</h4>
                                        </div>
                                        <div class="modal-body" id="bodymail">
                                            <div class="form-group">
                                                <label for="message" class="col-sm-3 col-sm-offset-1 control-label">Message </label>
                                                <div class="col-sm-8">
                                                    <textarea type="textarea" name="message" id="message" class="form-control" cols="20" rows="5" placeholder="Entrer votre Message..."></textarea>
                                                </div>
                                            </div><!-- End form group -->

                                        </div>
                                        <div class="modal-footer" id="footmail">
                                            <div class="row col-md-4 col-md-offset-7">
                                                <button type="button" data-dismiss="modal" id="Style-bouton">
                                                    <h6> Annuler </h6>
                                                </button>
                                                <button type="submit" name="submit" id="Style-bouton">
                                                    <h6> Répondre </h6>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div> <!-- End modal-content -->
                        </div> <!-- End modal-dialog -->
                    </div> <!-- End mymodal -->
                    <!--Fin Repondre -->
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block stylesheets %}
    <style>
        .text-danger strong {
            color: #9f181c;
        }
        .receipt-main {
            background: #ffffff none repeat scroll 0 0;
            border-bottom: 12px solid #333333;
            border-top: 12px solid #9f181c;
            margin-top: 50px;
            margin-bottom: 50px;
            padding: 40px 30px !important;
            position: relative;
            box-shadow: 0 1px 21px #acacac;
            color: #333333;
            font-family: open sans;
        }
        .receipt-main p {
            color: #333333;
            font-family: open sans;
            line-height: 1.42857;
        }

        .receipt-main::after {
            background: #414143 none repeat scroll 0 0;
            content: "";
            height: 5px;
            left: 0;
            position: absolute;
            right: 0;
            top: -13px;
        }
        .receipt-main thead {
            background: #414143 none repeat scroll 0 0;
        }
        .receipt-main thead th {
            color:#fff;
        }
        .receipt-right h5 {
            font-size: 16px;
            font-weight: bold;
            margin: 0 0 7px 0;
        }
        .receipt-right p {
            font-size: 12px;
            margin: 0px;
        }
        .receipt-right p i {
            text-align: center;
            width: 18px;
        }
        .receipt-main td {
            padding: 9px 20px !important;
        }
        .receipt-main th {
            padding: 13px 20px !important;
        }
        .receipt-main td {
            font-size: 13px;
            font-weight: initial !important;
        }
        .receipt-main td p:last-child {
            margin: 0;
            padding: 0;
        }
        .receipt-main td h2 {
            font-size: 20px;
            font-weight: 900;
            margin: 0;
            text-transform: uppercase;
        }
        .receipt-header-mid .receipt-left h1 {
            font-weight: 100;
            margin: 34px 0 0;
            text-align: right;
            text-transform: uppercase;
        }
        .receipt-header-mid {
            margin: 24px 0;
            overflow: hidden;
        }

        #container {
            background-color: #dcdcdc;
        }
    </style>
{% endblock %}